# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyc

# Base de datos local
db.sqlite3

# Archivos estáticos generados
staticfiles/

# Archivos subidos
media/uploads/

# Datos pesados
# Cartografía sin comprimir
mapa/data/*.gdb/