{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Electromovilidad
        {% endblock %}
    </title>

   <link
        rel="stylesheet"
        href="{% static 'electromovilidad/css/base.css' %}?v=2"
    >

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    <div class="layout">

        <aside class="sidebar">

            <div class="sidebar-header">

                <h2>
                    Electromovilidad
                </h2>

                <span>
                    Panel de navegación
                </span>

            </div>


            <nav class="menu">

                <a
                    href="{% url 'accounts:home' %}"
                    class="{% if request.path == '/' %}activo{% endif %}"
                >
                    🏠 Inicio
                </a>

                <a
                    href="{% url 'electromovilidad:vehiculos_electricos' %}"
                    class="{% if '/electromovilidad/vehiculos/' in request.path %}activo{% endif %}"
                >
                    Vehículos eléctricos
                </a>

                <a
                    href="{% url 'electromovilidad:calcular_viaje' %}"
                    class="{% if '/electromovilidad/calcular-viaje/' in request.path %}activo{% endif %}"
                >
                    Calcular viaje
                </a>

                <a
                    href="{% url 'cargadores:buscar_cargadores' %}"
                    class="{% if '/cargadores/' in request.path %}activo{% endif %}"
                >
                    Cargadores
                </a>

                <a
                    href="{% url 'accounts:aplicaciones_home' 'electromovilidad' %}"
                >
                    Aplicaciones
                </a>

            </nav>


            <div class="sidebar-footer">

                <div class="usuario-sidebar">

                    <div class="usuario-icono">
                        👤
                    </div>

                    <div class="usuario-info">

                        <span class="usuario-label">
                            Usuario
                        </span>

                        <strong>
                            {{ request.user.username }}
                        </strong>

                    </div>

                </div>

                <a
                    href="/logout/"
                    class="cerrar-sesion"
                >
                    Cerrar sesión
                </a>

            </div>

        </aside>


        <main class="contenido">

            {% block contenido %}
            {% endblock %}

        </main>

    </div>


    {% block extra_js %}
    {% endblock %}

</body>

</html>