<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>

    <h1>Plataforma Cartográfica Censal</h1>
    <h2>Iniciar sesión</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Usuario:</label>
        <input type="text" name="username">

        <br><br>

        <label>Contraseña:</label>
        <input type="password" name="password">

        <br><br>

        <button type="submit">Ingresar</button>
    </form>

</body>
</html>