


{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <!-- IMPORTANTE PARA QUE SEA RESPONSIVE EN CELULAR -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Panel Usuario</title>

    <!-- CSS DEL PANEL -->
    <link rel="stylesheet" href="{% static 'accounts/css/panel_usuario.css' %}">
</head>

<body>

    <main class="panel-container">

        <section class="panel-card">

            <h1>Panel Usuario</h1>

            <p class="bienvenida">
                Bienvenido <strong>{{ request.user.username }}</strong>
            </p>

            <p class="descripcion">
                Aquí realizaremos la consulta cartográfica.
            </p>

            <div class="panel-opciones">

                <a href="/mapa/consulta/" class="btn">
                    Ir a consulta cartográfica
                </a>

                <a href="/mapa/ruta/" class="btn">
                    Calcular distancia entre dos direcciones
                </a>

                <a href="/logout/" class="btn btn-logout">
                    Cerrar sesión
                </a>

            </div>

        </section>

    </main>

</body>

</html>