{% extends "mapa/base.html" %}
{% load static %}

{% block title %}
Consulta cartográfica
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
>

<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
</script>

<link
    rel="stylesheet"
    href="{% static 'mapa/css/consulta.css' %}"
>

{% endblock %}

{% block contenido %}


    <div class="tarjeta">

        <h1>Consulta cartográfica</h1>

        <p>
            Consulta una dirección para obtener su ubicación e información censal asociada.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="grupo">
                <label for="direccion">
                    Dirección
                </label>

                <input
                    type="text"
                    id="direccion"
                    name="direccion"
                    value="{{ request.POST.direccion|default:'' }}"
                    placeholder="Ej: Av. Nueva Providencia 1363"
                    required
                >
            </div>

            <button
                type="submit"
                class="boton"
            >
                Consultar
            </button>

        </form>

    </div>


    {% if resultado %}

        <div class="tarjeta">
            <hr>

            <h2>Resultado</h2>

            <p>
                <strong>Dirección:</strong>
                {{ resultado.direccion }}
            </p>

            <p>
                <strong>Latitud:</strong>
                {{ resultado.lat }}
            </p>

            <p>
                <strong>Longitud:</strong>
                {{ resultado.lon }}
            </p>

            <p>
                <strong>Código postal:</strong>
                {{ resultado.codigo_postal }}
            </p>


            {% if resultado.manzana %}
            <!----------- MAPA----------------------------------------------------------------------------- -->

            <div class="tarjeta">

                <h2>Mapa de ubicación</h2>

                <div id="map"></div>

            </div>


            <div class="informacion-censal" >
                
<!------- Información censal ----------------------------------------->

                <div class="tarjeta tarjeta-censal">

                    <h2>Información censal 1 de 2</h2>

                    <details class="categoria-censal" open>

                        <summary>
                            Ubicación
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.ubicacion.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor }}
                                </p>
                            {% endfor %}

                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Educación
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.educacion.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}

                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Población
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.poblacion.items %}

                                <p>
                                    <strong>{{ nombre }}:</strong>

                                    {% if "Edad promedio" == nombre %}
                                        {{ valor|floatformat:1 }}
                                    {% else %}
                                        {{ valor|floatformat:0 }}
                                    {% endif %}
                                </p>

                            {% endfor %}  

                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Trabajo
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.trabajo.items %}

                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>


                            {% endfor %}
 
                        </div>

                    </details>

                     <details class="categoria-censal">

                        <summary>
                            Transporte
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.transporte.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Hogares
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.hogares.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>

                                    {% if "Promedio de personas por hogar" == nombre %}
                                        {{ valor|floatformat:1 }}
                                    {% else %}
                                        {{ valor|floatformat:0 }}
                                    {% endif %}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Vivienda
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.vivienda.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Tenencia de la vivienda
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.tenencia.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Dormitorios
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.dormitorios.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>
                                       
                </div>



  <!-- INFORMACION SENSAL 2 ********************************** -->


                <div class="tarjeta tarjeta-censal">

                    <h2>Información censal (2 de 2)</h2>
                    
                    <details class="categoria-censal">

                        <summary>
                            Tecnología e Internet
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.tecnologia.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Servicios básicos
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.servicios_basicos.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %} 
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Materialidad de la vivienda
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.materialidad.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                           Energía y combustibles
                        </summary>

                        <div class="contenido-categoria">

                            {% for nombre, valor in resultado.datos_manzana.energia.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Características de la población
                        </summary>

                        <div class="contenido-categoria">

                            
                            {% for nombre, valor in resultado.datos_manzana.caracteristicas_poblacion.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>

                                    {% if valor == None %}
                                        Sin información
                                    {% else %}
                                        {{ valor|floatformat:0 }}
                                    {% endif %}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Ocupaciones (CIUO)
                        </summary>

                        <div class="contenido-categoria">
                            
                            {% for nombre, valor in resultado.datos_manzana.ocupaciones.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>

                    <details class="categoria-censal">

                        <summary>
                            Actividad económica (CAENES)
                        </summary>

                        <div class="contenido-categoria">
                         
                            {% for nombre, valor in resultado.datos_manzana.actividad_economica.items %}
                                <p>
                                    <strong>{{ nombre }}:</strong>
                                    {{ valor|floatformat:0 }}
                                </p>
                            {% endfor %}
 
                        </div>

                    </details>
           

                </div>

            </div>

           

            {% endif %}


            {% if resultado.manzana %}

                <script>
                    const lat = {{ resultado.lat }};
                    const lon = {{ resultado.lon }};

                    const map = L.map("map").setView(
                        [lat, lon],
                        17
                    );

                    L.tileLayer(
                        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                        {
                            attribution: "&copy; OpenStreetMap contributors"
                        }
                    ).addTo(map);

                    L.marker([lat, lon])
                        .addTo(map)
                        .bindPopup("Dirección consultada")
                        .openPopup();

                    const manzana = {{ resultado.manzana_json|safe }};

                    const capaManzana = L.geoJSON(
                        manzana
                    ).addTo(map);

                    map.fitBounds(
                        capaManzana.getBounds()
                    );
                </script>

            {% endif %}
            
        </div>    

    {% endif %}

{% endblock %}