{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular ruta</title>

    <link rel="stylesheet" href="{% static 'mapa/css/ruta.css' %}">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    
    
</head>

<body>

<div class="contenedor">

    <div class="tarjeta">

        <h1>Calcular ruta</h1>

        <p class="usuario">
            Usuario: {{ request.user.username }}
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="grupo">
                <label>Dirección de origen</label>

                <input
                    type="text"
                    name="origen"
                    placeholder="Ej: Av. Nueva Providencia 1363"
                    required
                >
            </div>

            <div class="grupo">
                <label>Dirección de destino</label>

                <input
                    type="text"
                    name="destino"
                    placeholder="Ej: Plaza de Armas Santiago"
                    required
                >
            </div>

            <button class="boton" type="submit">
                Calcular ruta
            </button>

        </form>

    </div>

    {% if resultado %}

    <div class="tarjeta">

        <h2>Resultado de la ruta</h2>

        <div class="transportes">

           

            <button
                class="transporte activo"
                type="button"
                data-tiempo="{{ resultado.auto }}"
                data-nombre="Tiempo en auto"
                data-icono="🚗"
            >
                🚗 Auto
            </button>

            <button
                class="transporte"
                type="button"
                data-tiempo="{{ resultado.caminando }}"
                data-nombre="Tiempo caminando"
                data-icono="🚶"
            >
                🚶 Caminando
            </button>

            <button
                class="transporte"
                type="button"
                data-tiempo="{{ resultado.bicicleta }}"
                data-nombre="Tiempo en bicicleta"
                data-icono="🚲"
            >
                🚲 Bicicleta
            </button>

            

        </div>

       <div class="direcciones-ruta">

            <div class="direccion-item">
                <span class="direccion-icono">A</span>

                <div>
                    <span class="direccion-titulo">Origen</span>
                    <p>{{ resultado.origen }}</p>
                </div>
            </div>

            <div class="direccion-linea"></div>

            <div class="direccion-item">
                <span class="direccion-icono destino">B</span>

                <div>
                    <span class="direccion-titulo">Destino</span>
                    <p>{{ resultado.destino }}</p>
                </div>
            </div>

        </div>
        

        
        {% if resultado.origen_lat and resultado.destino_lat %}

            <div
                id="mapa-ruta"
                data-origen-lat="{{ resultado.origen_lat }}"
                data-origen-lon="{{ resultado.origen_lon }}"
                data-destino-lat="{{ resultado.destino_lat }}"
                data-destino-lon="{{ resultado.destino_lon }}"
            ></div>
            
        {% endif %}

      <div class="resumen-ruta">

        <div class="dato-ruta">

            <span class="titulo-dato">📍 Distancia</span>
            <span class="valor-dato">
                {{ resultado.distancia }}
            </span>

        </div>

        <div class="dato-ruta" id="tiempo-texto">

            <span class="titulo-dato">🚗 Tiempo en auto</span>
            <span class="valor-dato">
                {{ resultado.auto }}
            </span>

        </div>

</div>

    </div>

    {% endif %}

    {% if error %}

    <div class="error">
        <strong>Error:</strong>
        {{ error }}
    </div>

    {% endif %}

    <a class="volver" href="/">
        ← Volver al inicio
    </a>

</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'mapa/js/ruta.js' %}"></script>

</body>
</html>